@tailwind base;
@tailwind components;
@tailwind utilities;

.MagicCard {
  border-radius: 5px;
  padding: 2px;
  justify-content: center;
}

#search-display {
  display: flex;
  flex-wrap: wrap;
}

#magic-card {
  display: grid;
  grid-row: auto;  
}